Package: com.expetelek.slices
Name: Slices
Depends: mobilesubstrate, preferenceloader, applist (>= 1.5.0)
Version: 0.2.1
Architecture: iphoneos-arm
Description: Allows you to have multiple setting and data bundles for a single application.
Maintainer: Stevie Hetelekides
Author: Stevie Hetelekides
Section: Tweaks
