<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Braintree.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>slicesapp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F317C76E1B892A50001F9A9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F317C7871B892A50001F9A9D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F33B4A101B8ADD2D0074EB24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F33B4A1A1B8ADD2E0074EB24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F37275151B894A9100FBA443</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F372751F1B894A9100FBA443</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F372753C1B894BA700FBA443</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F37275461B894BA800FBA443</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
