<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>General</string>
			<key>footerText</key>
			<string>Disabling will leave all applications set to the last slice they were on.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true />
			<key>defaults</key>
			<string>com.expetelek.slicespreferences</string>
			<key>key</key>
			<string>isEnabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>com.expetelek.slicespreferences/settingsChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>SlicesAppController</string>
			<key>label</key>
			<string>Applications</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Game Center</string>
			<key>footerText</key>
			<string>Manage your Game Center accounts.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>GameCenterController</string>
			<key>label</key>
			<string>Accounts</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Advanced</string>
			<key>footerText</key>
			<string>Disabling will hide the New Slice option when Ask on Touch is enabled.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true />
			<key>defaults</key>
			<string>com.expetelek.slicespreferences</string>
			<key>key</key>
			<string>showNewSliceOption</string>
			<key>label</key>
			<string>Show New Slice Option</string>
			<key>PostNotification</key>
			<string>com.expetelek.slicespreferences/settingsChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Links</string>
			<key>footerText</key>
			<string>If you have any questions or experience any problems, contact hetelek using Twitter or email (through Cydia).</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>twitter.png</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>@hetelek</string>
			<key>action</key>
			<string>openTwitter:</string>
		</dict>
	</array>
	<key>title</key>
	<string>Slices</string>
</dict>
</plist>
